:root {
  --white-ish1: #fcfcfc;
  --white-ish2: #efefef;
  --light-grey: #aaa;
  --mid-grey: #666;
  --dark-grey: #333;
}

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--dark-grey);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.box {
  width: 90%;
  min-width: 300px;
  max-width: 600px;
  padding: 1.5rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--white-ish2);
  color: var(--dark-grey);
}

